*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    body{

        
        font-size: 10px;
        background-color: cornflowerblue;
        font-family: Arial, Helvetica, sans-serif;
    }


.timer-container{
    height: 100vh;
          display: flex;
           justify-content: left;
        
           align-items: center;
           flex-direction: column;
           
    
    
}

.timer-button{
        font-size: 2em;;
        background: none; 
        color: whitesmoke;
         font-family: Arial, Helvetica, sans-serif;
         cursor: pointer;

        border: solid 1px rgb(96, 4, 119);
        border-radius: 30px;
        padding: 1em;


}

.timer-button:hover{

    background-color: rgb(253, 253, 250);
    color:rgb(231, 120, 9);
}

.timer-display{
    display: flex;
    flex-direction: column;
     font-size: 20px;
    margin-top: 30px;
    
}

.time-left{

    font-size: 4em;

    text-shadow: 4px 5px 2px rgb(34, 67, 128);
}


.end-time{
    margin-top: 20px;
    font-weight: bold;

    
}

.description{

    padding : 30px 30px;
    font-size: 25px;
    display: flex;;
    
    
    
    font-family: Georgia, 'Times New Roman', Times, serif;

    margin: auto;
    max-width: 500px;
    
    color: #fff;
    background: linear-gradient(to right, red, orange);
    background-clip: padding-box;
    border: solid 5px transparent;

    border-radius: 18px;

}


    







