*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    body{

        
        font-size: 10px;
        background-color: cornflowerblue;
        font-family: Arial, Helvetica, sans-serif;
    }


.timer-container{
    height: 100vh;
          display: flex;
           justify-content: center;
           align-items: center;
      flex-direction: column;
    
    
}

.timer-button{
        font-size: 2em;;
        background: none; 
        color: whitesmoke;
         font-family: Arial, Helvetica, sans-serif;
         cursor: pointer;

        border: solid 2px rgb(96, 4, 119);
        border-radius: 30px;
        padding: 1em;


}

.timer-button:hover{

    background-color: rgb(253, 253, 250);
    color:rgb(231, 120, 9);
}

.timer-display{
    display: flex;
    flex-direction: column;
     font-size: 20px;
    margin-top: 30px;
    
}

.time-left{

    font-size: 4em;
    text-shadow: 4px 5px 2px rgb(208, 200, 100);
}


.end-time{

    
}